.ICEauthority
.Xauthority
.altera.quartus/
.apport-ignore.xml
.bash_history
.bash_logout
.bash_profile
.bashrc-anaconda3.bak
.cache/
.compiz/
.conda/
.config/
.dmrc
.emacs
.emacs.d/
.emacs~
.gitconfig
.gnupg/
.ipython/
.java/
.keras/
.linuxbrew/
.local/
.macromedia/
.matlab/
.matplotlib/
.mkshrc
.mozilla/
.oracle_jre_usage/
.pam_environment
.profile
.putty/
.python_history
.rvm/
.ssh/
.stella/
.subversion/
.sudo_as_admin_successful
.swt/
.vim/
.vim_mru_files
.viminfo
.vimpkg/
.wine/
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
2016/
2017/
Datasets/
Desktop/
Documents/
Downloads/
FPGA test/
MATLAB/
Pictures/
TA/
TF-slim/
anaconda3/
apt-vim/
cats_and_dogs/
examples.desktop
intelFPGA/
neurocompann/
neurocompann_plot/
opal-fpga/
opal/
quartus/
.bashrc
.gnome2/
snap/
.vim.bak*
.vim_runtime/
